<ion-content>
  <ion-fab clear top left>
    <button clear ion-fab (click)="goBack()" ><ion-icon clear name="arrow-back"></ion-icon></button>
  </ion-fab>
  <ion-fab clear top right>
    <button clear color="danger" ion-fab (click)="signout()" >Signout</button>
  </ion-fab>
  <div *ngIf="!isProfile">
    <h1>Create Profile</h1>
 <div *ngIf="profileImage" class="image">
   <div class="del" ><button fab-button clear (click)="reset()"><ion-icon clear clear name="trash"></ion-icon></button></div>
    <img  src="{{profileImage}}">
 </div>
  <button *ngIf="!profileImage" ion-button clear large full (click)="selectImage()">Select Image</button>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Surname</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input type="tel" [(ngModel)]="userProfile.phone"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Bio</ion-label>
        <ion-textarea [(ngModel)]="userProfile.bio"></ion-textarea>
      </ion-item>
        <button ion-button large clear full center (click)="createUser()">Create Profile</button>

  </div>
  <div *ngIf="isProfile">
      <div class="Profimage">
           <img src="{{displayProfile.image}}">
           <div class="butt">
              <button ion-button clear large color="light" (click)="goBack()"><ion-icon name="home"></ion-icon></button>
            </div>
           <div class="displayName">

              <h4>{{displayProfile.name}} {{displayProfile.surname}} </h4>
           </div>
        </div>
        <div class="contact">
          <div class="number"><p>{{displayProfile.phone}}</p></div>
          <div class="line"></div>
          <div class="email"><p>{{displayProfile.email}}</p></div>
        </div>

  </div>

  <div *ngIf="isProfile" class="booking">
    <h1>Your Bookings</h1>
    <p>You have {{nobookings}} bookings.</p>
    <div class="reserves">

      <div *ngFor="let b of bookings; let i = index" class="book" >
        <div class="head">
            <h3>{{b.roomname}}</h3>
        </div>
        <div class="details"  >
            <p>You are staying with {{b.adults}} person(s) for {{b.days}} days from {{b.checkin | date}} to {{b.checkout | date}}</p>
            <h4>Amount: R{{b.price}} pp/pn</h4>
            <button ion-fab large color="danger" (click)="presentConfirm(b) ">Cancel</button>
        </div>
        </div>
    </div>
  </div>
</ion-content>
