<ion-content>
  <ion-fab top left>
    <button ion-fab (click)="goBack()" >Back</button>
  </ion-fab>
  <div *ngIf="!isProfile">
    <h1>Create Profile</h1>
 <div *ngIf="profileImage" class="image">
   <div class="del" ><button fab-button clear (click)="reset()"><ion-icon clear clear name="trash"></ion-icon></button></div>
    <img  src="{{profileImage}}">
 </div>
  <button *ngIf="!profileImage" ion-button clear large full (click)="selectImage()">Select Image</button>

    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Surname</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="userProfile.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Phone Number</ion-label>
      <ion-input type="tel" [(ngModel)]="userProfile.number"></ion-input>
    </ion-item>
        <button ion-button large clear full center (click)="createUser()">Create Profile</button>

  </div>
  <div *ngIf="isProfile">
      <div class="Profimage">
           <img src="{{displayProfile.image}}">
           <div class="butt">
              <button ion-button clear large color="light" (click)="goBack()"><ion-icon name="home"></ion-icon></button>
            </div>
           <div class="displayName">

              <h4>{{displayProfile.name}} {{displayProfile.surname}} </h4>
           </div>
        </div>
        <div class="contact">
          <div class="number"><p>{{displayProfile.number}}</p></div>
          <div class="line"></div>
          <div class="email"><p>{{displayProfile.email}}</p></div>
        </div>

  </div>
</ion-content>
