page-owner-view-hotel {
  .h{
    position: fixed;
    background: rgb(113, 68, 150);
    height: 8vh;
    right: 0;
    left: 0;
    display: flex;
    color: white;
    border-radius: 0px 0px 10px 10px;
    z-index: 10;
    box-shadow: 0px 2px 8px #17171791;
    border-bottom: solid 1px rgba(255, 255, 255, 0.082);
    div{
      width: 50%;
    }
    .hotelname{
      flex-basis: 70%;
      display: grid;
      align-content: center;
      padding: 10px;
      p{
        margin: 0;
        padding: 0;
      }
    }
    .profile{
      display: grid;
      align-content: center;
      height: 100%;
      div{
        width: 100%;
        display: flex;
        height: 100%;
        .icon{
          text-align: center;
          width: 20%;
          display: grid;
          align-content: center;
          p{
            margin: 0;
            padding: 0;
            text-align: center;
          }
        }
        .moree{

          width: 80%;
          p{
            margin: 0;
            padding: 0;
          }
        }
        div{
          width: 50%;
        }
      }
    }
  }
  .space{
    height: 8vh;
    width: 100%;
  }
  *{
    padding: 0;
    margin: 0;
  }
  .contain{
    padding: 0px 5px;
    width: 100%;
    .line{
      width: 100%;
      height: auto;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      margin: 10px 0px;
      .linedash{
        width: 45%;
        height: 2px;
        background: #717272;
      }
      .circle{
        margin: 5px;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        border: solid 2px #717272;
      }
    }
    .hotelHeader{
      width: 100;
      height: auto;
      background: #323268;
      color: white;
      border-radius: 8px;
      margin: 10px 0px;
      box-shadow: 0px 0px 8px #1717178f;
      overflow: hidden;
      padding: 10px;
      .header{
        width: 100%;
        .cont{
          display: flex;
          align-content: center;
          justify-content: center;
          align-content: center;
          align-items: center;
          div{
            width: 50%;
            h1{
              margin: 0;
              padding: 0;
            }
          }
        }
      }
      .rating{
        display: flex;
        align-content: center;
        justify-content: center;
        div {
          padding: 5px 10px
        }
      }
      .contacts{
        text-align: center;
      }
    }
    .hotelimage{
      height: 60vh;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
      position: relative;
      .reserve{
        position: absolute;
        top: 10px;
        right: 10px;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h2{
      width: 100%;
      border-top: solid 2px gray;
      border-bottom: solid 2px gray;
      text-align: center;
      padding: 20px 0px;
      margin: 10px 0px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .features{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      .feat{
        background: #5657A4;
        padding: 5px;
        margin: 2px;;
        border-radius: 8px;
        box-shadow: 0px 0px 5px #8f8f8f;
        color: white;
      }
    }
}
}
