page-register-owner {
  *{
    margin: 0 ;
    padding: 0 ;
  }
  .header{
    width: 100%;
    height: 30vh;
    background: #323268;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
    .title{
      width: 100%;
      height: 95%;
      background:linear-gradient(rgba(0, 0, 0, 0.7)),url(https://firebasestorage.googleapis.com/v0/b/hotel-cms-d3e5c.appspot.com/o/104332924.jpg?alt=media&token=bb14dbef-1d5d-4bc5-a50a-7f2f55d03ebb);
      background-size: cover;
      background-attachment: fixed;
      border-radius: 0px 0px 50px 50px;
      display: grid;
      align-items: center;
      text-align: center;
      color: white;
      h1{
        margin: 0;
        padding: 0;
        font-family: 'Dancing Script';
      }
    }
  }
  .form{
    height: 65vh;
    width: 100%;
    display: grid;
    align-items: center;
    #error{
      color: red;
      text-align: left;
      font-size: 10px;
    }
    div{
      width: 70%;
      text-align: right;
      margin: auto !important;
      .inputs{
        width: 100%;
        height: 100%;
        text-align: center;
        input{
          width: 100%;
          margin: 0;
          border: none;
          border-bottom: solid 1px gray;
          margin: 5px 0px ;
          padding: 10px ;
        }
        }
        .link{
          width: 100%;
          padding: 10px 0px;
          button{
            background: none;
            padding: 10px 0px ;
            color: gray;
            font-size: 10px;
          }
        }
        .lButton{
          width: 100%;
          z-index: 5;
          button{
            color: #ffffff;
        border: solid 1px #505085;
        box-shadow: 0px -3px 8px #1717176e;
        background: linear-gradient(90deg,#323268,#5657A4,#323268);
        padding: 10px 0px;
        width: 100%;
        border-radius: 8px;
        text-align: center;
        font-size:5vw;
        text-transform: capitalize;
        text-align: center;
        font-family: 'Dancing Script';
        text-shadow: 0px 3px 3px #1717178c;
        margin: 10px 0px;;
          }
    }
    }

    }
    .text{
      position: fixed;
      text-align: center;
      background: #323268 !important;
      width: 100%;
      height: 5vh;
      box-shadow: none !important;
      display: grid;
      align-items: center;
      color: white;
      border-radius: 100px 100px 0px 0px;
      border-top: solid 5px #5657A4;
    }
}
