<ion-content>
  <div class="h">
    <ion-item>
      <div class="header">
        <div class="details">
          <h4>Name Surname</h4>
          <p>Owned hotels: 0</p>
          <h3>add rooms for {{roomCollections}}</h3>
        </div>
        <div class="image">
          <img src="../../assets/imgs/images/Blank-Silhouette.jpg" alt="">
        </div>
      </div>
    </ion-item>
  </div>
  <div class="container">
    <ion-item>
      <ion-label floating>Room Type</ion-label>
      <ion-input type="text" [(ngModel)]="room.roomtype"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button full large *ngIf="!uniqueimage" (click)="selectImage()">Upload Image</button>
      <div *ngIf="uniqueimage">
        <ion-slides>
          <ion-slide>
              <div class="image">
                  <div class="imageD">
                      <img src="{{uniqueimage}}">
                  </div>
                  <div class="dele" (click)="deleteImage()">
                      <ion-icon name="trash" color="danger" ></ion-icon>
                  </div>
                </div>
          </ion-slide>
        </ion-slides>
      </div>
    </ion-item>
    <ion-item>
      <ion-label floating>Description of Room</ion-label>
      <ion-textarea [(ngModel)]="room.roomdescription"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Number of Occupancies</ion-label>
      <ion-select [(ngModel)]="room.occupancy">
        <ion-option>1</ion-option>
        <ion-option>2</ion-option>
        <ion-option>4</ion-option>
        <ion-option>5</ion-option>
        <ion-option>6</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Room rate (per person)</ion-label>
      <ion-input type="text" [(ngModel)]="room.roomrate"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Features of the room</ion-label>
      <ion-select multiple [(ngModel)]="room.features">
        <ion-option *ngFor="let r of features">{{r}}</ion-option>
      </ion-select>
    </ion-item>

    <div class="buttons">
      <button class="save" (click)="addRoom()">Save</button>
      <button class="done" (click)="toHome()">Done</button>
    </div>
  </div>

</ion-content>
